<!-- vim: set ft=xml noet : -->
<launch>
  <!-- Start Ueye cam -->
  <arg name="nodelet_manager_name_cam0" value="nodelet_manager_cam0" />
  <arg name="camera_name_cam0" value="cam0" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name_cam0)" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="ddd_cam_nodelet_cam0" args="load ueye_cam/ueye_cam_nodelet $(arg nodelet_manager_name_cam0)">
    
    <param name="camera_name" type="str" value="$(arg camera_name_cam0)" /> <!-- == namespace for topics and services -->
    <param name="camera_topic" type="str" value="image_raw" />
    <param name="camera_id" type="int" value="1" /> <!-- 0 = any camera; 1+: camera ID -->

    <param name="ext_trigger_mode" type="bool" value="false" />
    <param name="color_mode" type="str" value="mono8" /> <!-- valid options: 'rgb8', 'mono8', 'bayer_rggb8' -->

    <param name="image_width" type="int" value="1280" />
    <param name="image_height" type="int" value="1024" />

    <param name="auto_gain" type="bool" value="False" />
    <param name="master_gain" type="int" value="100" />
    <param name="gain_boost" type="bool" value="True" />

    <param name="auto_exposure" type="bool" value="False" />
    <param name="exposure" type="double" value="2" /> <!-- in ms -->

    <param name="auto_frame_rate" type="bool" value="False" />
    <param name="frame_rate" type="double" value="30.0" />

    <param name="do_imu_sync" type="bool" value="False" />
    <param name="adaptive_exposure_mode_" type="int" value="2" /> <!-- Master exposure -->

  </node>
</launch>
